.header {
  width: 100%;
  height: 80px;
  background-color: #ffe9d4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
#logoImage {
  margin: 0 auto;
}
.hide {
  display: none;
}
.main {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.post-createPost {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}
.container-createPost {
  height: 130px;
  border: solid 1px;
  border-radius: 5px;
  border-color: rgba(107, 163, 236, 0.486);
  margin: 17px;
  padding: 8px 4px;
  justify-content: space-between;
  display: inline-block;
  min-width: 100px;
  width: 500px;
}
.createPost {
  width: 450px;
  height: 55px;
  border: solid 1px;
  border-color: rgba(0, 0, 0, 0.308);
  border-radius: 2px;
  margin: 10px 22px 10px;
  padding: 5px;
}
#containerIconsAndButton {
  display: flex;
}
.main {
  display: grid;
  grid-template-columns: 50% 50%;
}
.icons-createPost {
  display: flex;
  padding-left: 20px;
}
.icon-addImage {
  width: 28px;
}

.icon-world {
  width: 28px;
  padding-left: 4px;
}
.icon-mochila {
  width: 28px;
  padding: 4px;
}
.icon-user {
  padding: 2px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.img-fondo {
  width: 450px;
  height: 150px;
  padding-top: 20px;
}
/*
.profile {
  display: flex;
  align-items: flex-start;
para bottom
  align-self:flex-end;
}
*/
.profile-bottom {
  position: fixed;
}
.img-back {
  width: 70%;
  height: 70%;
}
.nameuser {
  padding: 8px;
}
.container-buttonCreatePost {
  justify-content: flex-end;
}
.button-createPost {
  width: 80px;
  height: 27px;
  background-color: #5d9cec;
  color: white;
  border: transparent;
  border-radius: 15px;
  font-size: 12pt;
  margin: 7px;
}
.icon-menu {
  width: 30px;
  height: 30px;
  margin: 18px;
}

.container-profileimg {
  display: flex;
  justify-content: center;
  margin: 17px 17px 0px 30px;
}

.container-profiledata {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 17px 0px 30px;
  padding: 8px 4px;
}

@media screen and (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .profile {
    display: none;
  }
}
