.header {
    width: 100%;
    height: 80px;
    background-color: #ffe9d4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
#logoImage {
    margin: 0 auto;
}
.hide {
    display: none;
}
.main {
    background-color: white;
    width: 100%;
    height: 100% ;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.container-createPost{
    width: 300px;
    height: 100px;
    border: solid 1px;
    border-radius: 5px;
    border-color: rgba(107, 163, 236, 0.486);
    margin: 17px;
    padding: 10px;
    justify-content: space-between;
}
.createPost{
    width: 270px;
    height: 55px;
    border: solid 1px;
    border-color: rgba(0, 0, 0, 0.308);
    border-radius: 2px;
    margin: 5px 12px 0px;
    padding: 5px;

}
#containerIconsAndButton{
    margin-top: 8px;
    width: 100px;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.icons-createPost{
    width: 26px;
    height: 26px;
    flex-grow: 3;
}
.container-buttonCreatePost{
    justify-content: right;
}
.button-createPost{
    width: 80px;
    height: 27px;
    background-color: #5D9CEC;
    color: white;
    border: transparent;
    border-radius: 15px;
    font-size: 12pt;
}
.icon-menu{
    width: 30px;
    height: 30px;
    margin: 18px;
}