.posts{
  display: flex;
  width: 320px;
}

.containerToContainerPost{
  display: flex;
  
}

.container-post {
  margin: 22px;
  min-width: 400px;
  max-width: 400px;
  border: solid 1px;
  border-radius: 5px;
  border-color: rgba(107, 163, 236, 0.486);
}
.text {
  width: 100%;
}
.user-post {
  height: 28px;
  background-color: #ffe9d4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
.content-post {
  width: 90%;
  padding: 12px;
}
.photoUser {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.btnLikes {
  border-style: none;
  background-color: transparent;
}
.btnLikes:focus{
  border-style: none;
  outline: none;
  border-radius: 30%;
  background-color: rgb(241, 93, 93);
}
.data {
  padding: 3px;
  overflow-wrap: break-word;
  margin-bottom: 15px;
}
.content-post[data-visible='true'] {
  visibility: visible;
}
.content-post[data-visible='false'] {
  visibility: hidden;
}
.icon-contentPost {
  width: 25px;
  height: 30px;
  border-style: none;
}
.icon-dropdown {
  width: 20px;
  justify-content: flex-end;
}

.icon-deletePost {
  width: 20px;
  cursor: pointer;
}
.dropdown-content .icon-deletePost {
  width: 20px;
  height: 20px;
  padding: 6px;
}
.icon-editPost {
  width: 20px;
  height: 20px;
  padding: 6px;
}
.icon-savePost {
  width: 25px;
  height: 25px;
  padding-top: 8px;
  cursor: pointer;
}
/*Comments*/

.textComment {
  width: 350px;
  height: 20px;
  border: solid 1px;
  border-color: rgba(107, 163, 236, 0.486);
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
  overflow-wrap: break-word;
}
.iconSend {
  width: 23px;
  height: 25px;
  padding-top: 2px;
}
.buttonSend{
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.containerComments {
  width: 280px;
  height: 30px;
  border: solid 1px;
  border-color: rgba(107, 163, 236, 0.486);
  border-radius: 4px;
  display: flex;
}
.userPhotoComment {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.icon-createPost {
  width: 20px;
  height: 20px;
}
.btnComments {
  border-style: none;
  background-color: transparent;
}
.btnComments:focus { 
  outline-color: transparent; 
  outline-style: none;
}
/*dropdown post */
.dropbtn {
  display: flex;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content img {
  cursor: pointer;
}
.letter-color {
  color: #5d9cec;
  cursor: pointer;
}
.dropdown-content img:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (min-width: 900px) {
  .no-photoPost {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: small;
    background-color: #fff;
    text-align: center;
  }
  .containerToContainerPost{
    display: flex;
    width: 545px;
  }
  .container-post {
    min-width: 450px;
    max-width: 450px;
    margin: 22px;
    border: solid 1px;
    border-radius: 5px;
    border-color: rgba(107, 163, 236, 0.486);
  }
  .userPostData {
    justify-content: flex-start;
  }
  .timeUserPost {
    text-align: center;
    font-size: 14px;
  }
  .titleUserPost {
    font-size: 18px;
  }
  .containerToContainerComments{
    width: 440px;
    height: 50px;
    margin: 6px;
  }
  .containerComments{
    width: 400px;
    height: 100%;
    box-sizing: border-box;
  }
  .mainComment{
    flex-direction: column;
  }
  .user-photo-comment{
  margin: auto 6px;  
  }
  .userComment{
    font-size: 13px;
    color: #5d9becdc;
  }
  .contentComment{
    font-size: 12px;
  }
  .divTimeComment{
    align-content: flex-end;
  }
  .timeComment{
    font-size: 10px;
  }
  .likeAndCommentPost {
    align-items: center;
  }
  .numberLikes{
    padding-bottom: 20px;
  }
}
