.container-profile{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 60px;
}
.no-photo-edit{
    margin: 2rem;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 50px;
    background-color: #ffe9d4;
    text-align: center;
    display: grid;
    justify-content: center;
    align-content: center;
}
.info-edit-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


