* {
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
  font-size: 18px;
}
body {
  background-color: #ffe9d4;
}

.container-general {
  display: grid;
  grid-template-columns: 60% 40%;
}

.container-backgroundImage {
  justify-self: center;
  align-self: center;
}

.container-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.button-login {
  background: #5d9cec;
  opacity: 0.8;
  border-radius: 15px;
  color: #ffffff;
  outline: none;
  outline-style: none;
  border-style: none;
  padding: 3px 13px 3px 13px;
  margin-top: 30px;
  margin-bottom: 15px;
}
.option {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.line {
  height: 1px;
  width: 94px;
  opacity: 0.8;
  background-color: #393a3a;
}
.loginGoogle {
  display: flex;
  position: relative;
  margin-bottom: 1rem;
}

.container-button-register {
  display: flex;
  position: relative;
  margin-bottom: 1rem;
}

.button-register {
  background: #5d9cec;
  opacity: 0.8;
  border-radius: 15px;
  color: #ffffff;
  font-weight: bold;
  outline: none;
  outline-style: none;
  border-style: none;
  padding: 3px 20px 3px 15px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.link {
  text-decoration: none;
  color: #232222;
  font-weight: bolder;
}

.input {
  margin-top: 1rem;
  border-style: none;
  opacity: 0.8;
  border-bottom: 2px solid #393a3a;
  background-color: #ffe9d4;
}

.input:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#bagtravelImage {
  display: none;
}

#logoImage {
  width: 210px;
}

#motoBack {
  width: 600px;
  height: 600px;
}

#or {
  padding: 4px;
}

#button-google {
  outline: none;
  background: #f58f8f;
  border-radius: 6px;
  border: 1px solid #f58f8f;
  color: #ffffff;
  padding: 0px 50px 0px 30px;
}

#button-google:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#google-icon {
  position: absolute;
  right: 0;
  transform: translate(0, -8px);
}

#mail-icon {
  position: absolute;
  right: 0;
  padding-top: 7px;
  transform: translate(22px, 15px);
}
@media screen and (max-width: 768px) {
  .container-general {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .container-backgroundImage {
    display: none;
  }

  #bagtravelImage {
    display: flex;
    width: 198px;
    height: 198px;
  }
  #logoImage {
    width: 160px;
  }
}
