*{
 margin: 0;
 padding: 0;
 font-family: 'Kanit', sans-serif;
 background-color: #FFE9D4;
}

.container-login{
  display: grid;
  grid-template-columns: 70% 30%;
}
.container-backgroundImage{
  width: 600px;
  height: 600px;
  align-self: center;
}
@media (min-width: 360px) and (max-width: 600px) {
  .container-login{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #bagtravelImage{
    width: 150px ;
    height: 150px ;
  }
  #logoImage{
    width: 100;
    height: 50;
  }

}
